:global(body) {
  margin: 0;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.sideWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}

.header {
  padding: 5px 10px;
  background: #f8f8f8;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-shrink: 0;
}

.urlInput {
  flex: 1;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
}
.urlInput:focus {
  outline: 1px solid #b9b9b9;
}

.iframeContainer {
  flex: 1;
  display: flex;
  overflow: hidden;
  position: relative;
  min-height: 0;
}

.iframe {
  flex: 1;
  border: none;
  width: 100%;
  height: 100%;
  display: block;
}

.divider {
  width: 2px;
  background: #ccc;
  cursor: col-resize;
  height: 100%;
  position: relative;
  transition: background 0.2s;
  user-select: none;
}

.divider:hover,
.divider.dragging {
  background: #999;
}

.divider::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 28px;
  background: #1b73e8;
  border-radius: 33px;
}

.divider.dragging::after {
  background: #333;
}

/* google doc override */

